<h1>Join an organization</h1>
<% if @organizations.blank? %>
<p>
  There are no organizations to join
</p>
<% else %>
<form method="POST" action="<%= url_for :controller => 'organizations', :action => 'join' %>">
  <div class="form-group">
    <label for="organization">Select organization:</label><br />
    <select name="organization" class="form-control">
      <% @organizations.each do |o| %>
      <option value="<%= o.id %>"><%= o.name %></option>
      <% end %>
    </select>
  </div>
  <div class="form-group">
    <label for="password">Enter password:</label><br />
    <input type="password" name="password" class="form-control" />
  </div>
  <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
  <div class="form-group">
    <input type="submit" value="Join" class="btn btn-primary" />
  </div>
</form>
<% end %>